mixin menu()
    .menu
        .container.menu__list
            ion-icon.menu__list-icon(name="folder-open-outline")
            h3.menu__list-title= project.projectName
            p.menu__list-desc= project.projectDescription
            .menu__list-options
                ion-icon.menu__list-options-icon(name="close-outline" title="Close Project without saving")
                ion-icon.menu__list-options-icon(name="checkmark-outline" title="Check Tasks")
                ion-icon.menu__list-options-icon(name="download-outline" title="Get PDF")
                ion-icon.menu__list-options-icon(name="save-outline" title="Save Project")
