mixin menu()
    .menu
        .container.menu__list
            ion-icon.menu__list-icon(name="folder-open-outline")
            h3.menu__list-title= project.projectName
            p.menu__list-desc= project.projectDescription
            .menu__list-options
                ion-icon.menu__list-options-icon(name="download-outline" title="Get PDF")
