include ./_mixer

//- head implimentation
+head('Login', '/css/main.css', '/css/dashboard.css')
body
    //- header implementation
    - itemHeader = {name: 'Logout', link: '/logout'}
    +header(itemHeader)

    //- error message implementation
    if error
        +msg('error', error)

    .container
        .dashboard
            +profile(user)
            +dashboardMenu(user)

    +scripts()
